<%= replaced_tag :h1, 'My Places', 'text/text_img_title_myplaces_220x53.png'%>

<div id="logged_in_description" class="nav_bar">
  <%= "#{h(current_user.name)}'s" %>
  saved places
  <a href="javascript:void(0);" class="rang">&rang;</a>
</div>

<%# I'd love to use the rails helper but he sneakily gets around our form catching stuff %>
<form id="user_session_delete" style="display:none" method="post" action="<%= user_session_path %>">
  <input type="hidden" name="_method" value="delete"></input>
</form>

<div id="logout" class="nav_bar">
  <%= link_to 'Logout', 'javascript:void(0);', :onclick => "FB.Connect.logout(); jQuery('#user_session_delete').submit();return false;", :class => 'noTargetContent' %>
  <a href="javascript:void(0);" class="lang">&lang;</a>
</div>

<div class="places">
  <div class="top_slice"></div>
  <%= render :partial => 'places/list_place.html', :collection => @places %>
  <div class="btm_slice"></div>
</div>