<div id="logged_in_description" class="nav_bar">
  <a href="javascript:void(0);"><%= "#{h(current_user.name)}'s" %></a>
  saved places
</div>

<%# I'd love to use the rails helper but he sneakily gets around our form catching stuff %>
<form id="user_session_delete" style="display:none" method="post" action="<%= user_session_path %>">
  <input type="hidden" name="_method" value="delete"></input>
</form>

<div id="logout" class="nav_bar">
  <%= link_to 'Logout', 'javascript:void(0);', :onclick => "FB.Connect.logout(); jQuery('#user_session_delete').submit();return false;", :class => 'noTargetContent' %>
</div>

<div class="places">
  <%- @places.each do |place| -%>
    <div class="place <%= saved_class(place) %>">
      <%= image_tag place.primary_image.image.url(:small), :alt => place.name, :class => 'small_thumb' %>
    
      <%= link_to ( image_tag('mobile/layout/card_dogear_36x36.png'), save_place_path(place), :class => 'dogear' ) %>
    
      <h2 class="name"><%=h place.name %></h2>
    
      <p class="category"><%=h place.category.name %></p>
    
      <div class="distance detail">
        <%= image_tag 'mobile/icon_logo/icon_shoe_18x18.png' %>Dist: 
          <em><%= format_distance(place.distance) %></em>
      </div>
    
      <div class="actions">
        <%= link_to 'Remove', unsave_place_path(place), :class => 'remove small_button' %>
        <%= link_to 'Details', place, :class => 'small_button' %>
      </div>
    </div>
  <%- end -%>
</div>