<div id="trapezoid">
  <div class="title">
    <%= image_tag 'icon_logo/text_img_title_home_276x85.png', :alt => 'Amble. Victoria in your pocket' %><br/>
    <%= link_to 'Explore Now', explore_url %>
  </div>
  <div class="phones">
    <%= image_tag 'icon_logo/img_phones_400x370.png', :alt => 'Two Phones'%>
  </div>
</div>

<div id="discover_head">
  <%= image_tag 'icon_logo/text_img_discover_105x142.png' %><br/>
  Find places near you,<br/>
  wherever you are.
</div>
<div class="border_hack"></div>
<div id="mobile_head">
  <%= image_tag 'icon_logo/text_img_mobile_84x142.png' %><br/>
  Phone &amp; feet are all that<br/>
  are needed to Amble.<br/>
  <p class='sub'>
    We support most mobile<br/>
      browsers and PCSs
  </p>
</div>
<div class="border_hack"></div>
<div id="sociable_head">
  <%= image_tag 'icon_logo/text_img_sociable_102x142.png' %><br/>
  Share Victoria with<br/>
  your friends.
</div>
<div class="border_hack"></div>
<div id="victorian_head">
  <%= image_tag 'icon_logo/text_img_victorian_180x142.png' %><br/>
  Crafted specifically for<br/>
  our great state.
</div>

<div id="discover">
  <div class="title">
    <%= image_tag 'icon_logo/text_img_subtitle_discover_330x97.png' %><br/>
    <span>The most pleasurable browsing experience for finding new places – wherever you happen to be. Landmarks, art spaces and restaurants are amongst the curated places of interest. We’ve carefully crafted Amble to present not only the closest but most relevant results to you.</span>
  </div>
  <div class='flinders'>
    <%= image_tag 'layout/img_discover_328x210.png' %>
  </div>
</div>

<div id="mobile_sociable">
  <div class='left'>
    <%= replaced_tag :h2, 'Mobile', 'icon_logo/text_img_subtitle_mobile_101x28.png', :class => 'replaced mobile' %>
    <%= replaced_tag :h2, 'Sociable', 'icon_logo/text_img_subtitle_sociable_353x79.png' %>
    <p>We encourage Victorians &amp; visitors alike to be active and take part in their communities through exploration and sharing. Amble makes it easy to relay your discoveries to friends and family. Our login is streamlined to provide instant access.  Amble embraces sharing as a way to promote meaningful relationships between Victorians and their surroundings.</p>
  </div>  
  <div class='right'>
    <%= image_tag 'layout/text_img_distance_314x35.png', :class => 'distance' %>
    <p>Amble gets you to where you want to be in a flash. Our users can quickly browse photographs of places within ambling distance on their Mobile or PC. Amble takes usability seriously. In order to build a great product it must be accessible to everyone.</p>
    <p class="intent_point">W3C compliant experience that is compatible with hearing and visually impaired browsers.</p>
    <%= image_tag 'layout/img_playnice_bbq_340x450.png', :class => 'playnice' %>
  </div>  
</div>

<div id="victorian">
  <%= replaced_tag :h2, 'Victorian', 'layout/text_img_subtitle_victorian_133x28.png' %>
  <div id="app_my_state">
    <%= replaced_tag :h3, 'App My State', 'layout/text_img_appmystate_168x32.png' %>
    <p>Experience the abundance that Victoria offers by discovering quality places close to you. Seeded from the Victorian Government’s ‘Art Places’, ‘Licensed Venues’ and the ‘Australain Tourism Data Warehouse’, our sights have been meticulously cross referenced to maintain high quality. Images are courtesy of Flickr under creative commons licenses.</p>
  </div>
</div>