<div id="trapezoid">
  <div class="title">
    <%= image_tag 'icon_logo/text_img_title_home_276x85.png', :alt => 'Amble. Victoria in your pocket' %><br/>
    <%= link_to 'Explore Now', explore_url %>
  </div>
  <div class="phones">
    <%= image_tag 'icon_logo/img_phones_400x370.png', :alt => 'Two Phones'%>
  </div>
</div>

<div id="discover_head">
  <%= image_tag 'icon_logo/text_img_discover_105x142.png' %><br/>
  Find places near you,<br/>
  wherever you are.
</div>
<div class="border_hack"></div>
<div id="mobile_head">
  <%= image_tag 'icon_logo/text_img_mobile_84x142.png' %><br/>
  Phone &amp; feet are all that<br/>
  are needed to Amble.<br/>
  <span class='sub'>We support most mobile</span><br/>
  <span class='sub'>browsers and PCSs</span>
</div>
<div class="border_hack"></div>
<div id="sociable_head">
  <%= image_tag 'icon_logo/text_img_sociable_102x142.png' %><br/>
  Share Victoria with<br/>
  your friends.
</div>
<div class="border_hack"></div>
<div id="victorian_head">
  <%= image_tag 'icon_logo/text_img_victorian_180x142.png' %><br/>
  Crafted specifically for<br/>
  our great state.
</div>

<div id="discover">
  <div class="title">
    <%= image_tag 'icon_logo/text_img_subtitle_discover_330x97.png' %><br/>
    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
  </div>
  <div class='flinders'>
    <%= image_tag 'layout/img_discover_328x210.png' %>
  </div>
</div>

<div id="mobile_sociable">
  <div class='left'>
    <%= replaced_tag :h2, 'Mobile', 'icon_logo/text_img_subtitle_mobile_101x28.png', :class => 'replaced mobile' %>
    <%= replaced_tag :h2, 'Sociable', 'icon_logo/text_img_subtitle_sociable_353x79.png' %>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>  
  <div class='right'>
    <%= image_tag 'layout/text_img_distance_314x35.png', :class => 'distance' %>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <%= image_tag 'layout/img_playnice_bbq_340x450.png', :class => 'playnice' %>
  </div>  
</div>

<div id="victorian">
  <%= replaced_tag :h2, 'Victorian', 'layout/text_img_subtitle_victorian_133x28.png' %>
  <div id="app_my_state">
    <%= replaced_tag :h3, 'App My State', 'layout/text_img_appmystate_168x32.png' %>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
</div>