<div class="place <%= saved_class(place) %>">
  <div class="front face">
    <%= image_tag place.primary_image.image.url(:medium), :alt => place.name, :class => 'thumb polaroid' %>
    
    <%= link_to ( image_tag('mobile/layout/card_dogear_36x36.png'), save_place_path(place), :class => 'dogear' ) %>

    <div class="actions">
      <div class="savers">
        <%= link_to 'Save', save_place_path(place), :class => 'save' %>
        <%= link_to 'Remove', unsave_place_path(place), :class => 'unsave' %>
      </div>
      <div class="details">
        <%= link_to 'View details', place, :class => 'show_details' %>
      </div>
    </div>

    <div class="overview">
      <h2><%=h place.name %></h2>
      <div class="category"><%= place.category.name %></div>
      <div class="distance">
        <%= image_tag 'mobile/icon_logo/icon_shoe_18x18.png' %>
        Distance: <%= format_distance(place.distance) %>
      </div>
    </div>
  </div>
  <% unless is_mobile_device? %>
    <div class="back face">
      <%= render :partial => 'place_detail.html', :object => place %>
    </div>
  <% end %>
</div>
