<div class="place" id="<%= place.id %>">
  <div class="front face">
    <%= image_tag place.primary_image.image.url(:medium), :alt => place.name, :class => 'thumb' %>

    <div class="actions">
      <div class="save"><a href="">Save</a></div>
      <div class="details"><a href="">View details</a></div>
    </div>

    <div class="overview">
      <h2><%=h place.name %></h2>
      <div class="category"><%= place.category.name %></div>
      <div class="distance">
        <%= image_tag 'mobile/icon_logo/icon_shoe_18x18.png' %>
        Distance: 0.5 km</div>
    </div>
  </div>
  <div class="back face">
    <h2><%=h place.name %></h2>
    <p class="category"><%=h place.category.name %></p>
    <p class="location"><%=h place.location %></p>
    <p class="distance"><%= rand(5)+1 %> kms away</p>
    <p class="description"><%=h place.description %></p>
    <p class="distance"><%= place.distance %></p>
    <p class="share">
      <iframe src="http://www.facebook.com/widgets/like.php?href=<%= place_url(place) %>"
            scrolling="no" frameborder="0"
            style="border:none; width:450px; height:80px"></iframe>
    </p>
    <p class="save">
      <%= save_button place %>
    </p>
  </div>
</div>
