<% form_for :place_filter, @place_filter, 
    :html => {'method' => 'get', 'id' => 'place_filter'} do |f| %>
    
  <div id="places_filter" class="nav_bar">
    <label>Places</label>
  
    <%= f.select "category_id", Category.all.collect { |c| [c.name, c.id.to_s]}, 
      {:include_blank => 'All Places'} %>
  </div>

  <div id="set_location" class="nav_bar">
    <label>Location</lable>
  
    <div class="locate_btn">
      <%= link_to "Update Location", {:controller => 'users', :action => 'update_location'} %>
    </div>
    
    <div class="locate_txt">
      <%= f.text_field "location", {:placeholder => 'Current Location'} %>
      <%= f.submit %>
    </div>    
  </div>
  
  <div id="current_location" class="nav_bar">
    Showing <a href=""><%= displayed_categories(@place_filter) %></a> near 
    <a href=""><%= current_location_str %></a>
  </div>
  
<% end %>

<%= render :partial => 'paginated', :locals => {:places => @places} %>

<div id="footer">
  <div>
    <%= link_to "What is Amble?", :controller => 'places', :action => 'about' %>
  </div>
  
  <div>Crafted by Percolate Studio</div>
  <div>&copy; 2010 Amble</div>
</div>

