<!--
<div id="place_list">
<%- @places.each do |p| -%>
  <% link_to p do %>
    <%= image_tag p.primary_image.image.url(:medium), :alt => p.name %>
  <%- end -%>
<%- end -%>
-->

<script>
$(document).ready(function() { 
  $('.front').click(function() {
    $(this).parent('.place').addClass('flipped').removeClass('unflipped');
  })
  
  $('.back').click(function() {
    $(this).parent('.place').removeClass('flipped').addClass('unflipped');
  })
})

</script>

<%- if @user.nil? -%>
  Displaying locations near to <%= @location %>.
<%- else -%>
  Locations Saved by <%= @user.name %>.
<%- end -%>

<div id="places">
  <%= render :partial => 'place', :collection => @places %>
</div>

<!--
<%= link_to 'New place', new_place_path %>
-->


