<script>
  $(document).ready(function() {    
    $('#slide').click(function() {
      $(this).addClass('slide').addClass('out')
    });
    
    $('#flip').click(function() {
      $(this).addClass('flip').addClass('out')
    });
    
    $('#slide, #flip').bind('webkitAnimationEnd', function() {
      $(this).removeClass();
    });
    
  });
  
  
  
</script>

<style>
#slide, #flip { 
  height: 100px;
  width: 100px;
  background-color: gray;
}
</style>

<div id="slide">
  Slide
</div>

<div id="flip">
  Flip
</div>


<h1>Quickedit - <%= @place.id %></h1>

<div id="shortcuts">
  <h2>Keyboard Shortcuts</h2>
  <dl>
    <dt>0 to 9</dt>
    <dd>set specified image number to primary image</dd>
        
    <dt>h</dt>
    <dd>hides current record (i.e. it's crap data)</dd>
    
    <dt>s</dt>
    <dd>saves current record, and displays next</dd>    

    <dt>e</dt>
    <dd>edit record; show advanced fields</dd>    
  </dl>
</div>

<% form_for(@place, :url => { :action => "quickedit", :id => @place.id }) do |f| %>
  <%= f.error_messages %>
  
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  
  <p>
    <%= f.label :user_quality %><br />
    <%= f.select :user_quality, 0.upto(10).collect { |i| [i.to_s,i]},
      {:include_blank => 'Not specified'}, {:id => 'user_quality_select'} %>
  </p>
  
  <div id="primary_image">
    <%= f.label :primary_image_id %><br />
    
    <ul>
      <% @place.images.each_with_index do |img, idx| %>
        <li><%= image_tag img.image.url(:small), :id => "place_image#{idx + 1}", 
              :class => img.id == @place.primary_image_id ? 'active' : '' %>
        </li>
      <% end %>    
    </ul>
    
    <%= f.select :primary_image_id, @place.images.collect { |img| [img.url, img.id]},
      {:include_blank => 'Not specified'}, {:id => 'primary_image_select'} %>
  </div>
    
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Edit', edit_place_path(@place), :id => 'edit' %>