<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <%= framework_meta_tags 'application' %>
  <%= yield :extra_meta_tags  %>
  
  <title>Amble</title>
  
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag :all, :cache => true, :recursive => true,
        :order => ['lib/jquery-1.4.2', 'lib/jquery.geolocation', 'geolocation'] %>
  
  
  <%= fb_connect_javascript_tag %> 
  <%= init_fb_connect "XFBML", :js => :jquery %>
</head>

<body class="<%= body_classes 'application' %>">
  <div id="header">
    <div id="nav" class="nav_bar">
      <%= link_to image_tag('icon_logo/text_img_logo_116x21.png', :alt => 'Amble Title Text'), '/' %>      
      <%= render_navigation %>
    </div>      
  </div>

  <div id="content">
    <%= yield %>
  </div>
  
  <% if defined?(@show_footer) && (@show_footer == true)%>
  <div id="footer">
    <div>
      <%= link_to "What is Amble?", :controller => 'places', :action => 'about' %>
    </div>

    <div>Crafted by Percolate Studio</div>
    <div>&copy; 2010 Amble</div>
  </div>
  <% end %>
  
  <div id="slide_container" class="no_slide_left"></div>
  <div id="like_overlay" class="no_slide_left">
    <iframe scrolling="no" frameborder="0" style="border:none;"></iframe>
  </div>
</body>
</html>
