<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <%= framework_meta_tags 'application' %>
  <%= yield :extra_meta_tags  %>
  
  <title>Amble</title>
  
  <%= stylesheet_link_tag 'application' %>
  
  <%#= fb_connect_javascript_tag %> 
  <%#= init_fb_connect "XFBML", :js => :jquery %>
</head>

<body class="<%= body_classes %>">
  <div id="header">
    <div id="nav" class="nav_bar">
      <%= render_navigation %>
      <%= link_to image_tag('icon_logo/text_img_logo_86x21.png', :alt => 'Amble Title Text'), '/' %>      
    </div>      
  </div>

  <div id="content">
    <%= yield %>
  </div>
</body>
</html>
