<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <%= framework_meta_tags 'application' %>
  <%= yield :extra_meta_tags  %>
  
  <title>Amble - Victoria in your pocket</title>
  
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag :all, :cache => true, :recursive => true,
        :order => ['lib/jquery-1.4.2', 'lib/jquery.geolocation', 'geolocation'] %>
    
  <%= fb_connect_javascript_tag %> 
</head>

<body class="<%= body_classes 'application' %>">
  <%= image_tag 'loader.gif', :id => 'loader' %>
  <div id="header">
    <div id="nav" class="nav_bar">    
      <%= render_navigation %>
      <%= link_to image_tag('icon_logo/text_img_logo_116x21.png', :alt => 'Amble Title Text'), '/' %>
    </div>      
  </div>

  <div id="content">
    <%= yield %>
  </div>
  
  <div id="footer">
    <div>
      <a href="http://percolatestudio.com/">Crafted by Percolate Studio</a>
    </div>

    <div>&copy; 2010 Amble</div>
  </div>
  
  <div id="slide_container" class="no_slide_left">
    <div id="like_overlay">
      <iframe scrolling="no" frameborder="0" style="border:none;"></iframe>
    </div>
  </div>
</body>
</html>
