<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <link rel="apple-touch-icon" href="/images/logo_amble_57x57.png"/>
    
    <%= framework_meta_tags 'mobile' %>
        
    <%= yield :extra_meta_tags  %>
    
    <title>Amble - Victoria in your pocket</title>

    <%= stylesheet_link_tag 'mobile'  %>
    <%= javascript_include_tag :all, :cache => true, :recursive => true,
          :order => ['lib/jquery-1.4.2', 'lib/jquery.geolocation', 'geolocation'] %>
          
    <%= fb_connect_javascript_tag %>
    <%= init_fb_connect "XFBML", :js => :jquery %>
  </head>
  <body class="<%= body_classes 'mobile' %>">
    <%= image_tag 'loader.gif', :id => 'loader' %>
    <div id="header">
      <div id="nav" class="nav_bar">
        <%= image_tag 'mobile/icon_logo/logo_nav_67x15.png', :alt => 'Amble Logo' %>
        
        <%= render_navigation %>
      </div>      
    </div>
    
    <%# This will get over-written by the framework %>
    <div id="content">
      <%= yield %>
    </div>
    
    <% if defined?(@show_footer) && (@show_footer == true)%>
    <div id="footer">
      <div>
        <a href="http://percolatestudio.com/">Crafted by Percolate Studio</a>
      </div>

      <div>&copy; 2010 Amble</div>
    </div>
    <% end %>
    
    <div id="slide_container" class="no_slide_left"></div>
    <div id="like_overlay" class="no_slide_left">
      <iframe scrolling="no" frameborder="0" style="border:none;"></iframe>
    </div>
  </body>
</html>
