<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <%= framework_meta_tags 'application' %>
  <%= yield :extra_meta_tags  %>
  
  <title>Amble</title>
  <%= stylesheet_link_tag 'application' %>
  
  <%= javascript_include_tag 'util', :all, :recursive => true, 
    :exclude => ['lib/PastryKit-ug-compact', 'lib/xui-0.9.0'] %>


  <%= fb_connect_javascript_tag %> 
  <%= init_fb_connect "XFBML", :js => :jquery %>
</head>
<body class="<%= body_classes %>">

<p style="color: green"><%= flash[:notice] %></p>
<p>[IN WEBSITE LAYOUT]</p>

<%= yield %>

</body>
</html>
